@import "variables";
@import "mixins";

//
// Base styles
//
.btn {
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $line-height, $btn-border-radius);
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $border-width solid transparent;

  :active {
    border: none;
  }

  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled {
    background: $gray-lighter;
    border-color: $gray-lighter;
    opacity: .65;
  }
}


// Alternate buttons

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-plain {
  @include button-variant($btn-plain-color, $btn-plain-bg, $btn-plain-border);
}
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}


// Remove all backgrounds
.btn-primary-outline {
  @include button-outline-variant($btn-primary-bg);
}
.btn-plain-outline {
  @include button-outline-variant($btn-plain-border);
}
.btn-info-outline {
  @include button-outline-variant($btn-info-bg);
}
.btn-success-outline {
  @include button-outline-variant($btn-success-bg);
}
.btn-warning-outline {
  @include button-outline-variant($btn-warning-bg);
}
.btn-danger-outline {
  @include button-outline-variant($btn-danger-bg);
}


// Button Sizes
.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $line-height-lg, $btn-border-radius-lg);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
}

/* Submit button
   do always use <div class="btn-submit"></div>
   do not use <button> element
   http://stackoverflow.com/questions/16584890/why-does-displayblock-not-stretch-buttons-or-input-elements?rq=1
   http://stackoverflow.com/questions/1030793/input-with-displayblock-is-not-a-block-why-not?lq=1
*/
.btn-submit {
  display: block;
  margin: 1.5rem*12/50 2rem*12/50;
  font-size: $font-size-lg;
}
.btn-submit + .btn-submit {
  margin-top: 1rem*12/50;
}

// Block button
.btn-block {
  display: block;
  width: 100%;
}
// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 1rem*12/50;
}


// Button group
.btn-group {
  display: inline-block;
  vertical-align: middle;

  .btn {
    position: relative;
    float: left;
  }

  .btn:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  .btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn + .btn {
    margin-left: -1px;
  }

  @include clearfix();
}


// Toggle button
.btn-toggle {
  position: relative;
  width: 3.3125rem*12/50;
  height: 2rem*12/50;
  border-radius: 1rem*12/50;
  background-color: $btn-toggle-bg;
  border: none;
  box-shadow: 0 0 0 1px rgba(211, 211, 211, 0.8);
  transition: .25s ease-in-out;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 2rem*12/50;
    height: 2rem*12/50;
    border-radius: 1rem*12/50;
    background-color: $btn-toggle-dot-bg;
    box-shadow: inset 0 0 0 1px rgba(211, 211, 211, 0.8), 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: .25s ease-in-out;
  }

  &.active {
    background-color: $btn-toggle-active-color;
    box-shadow: 0 0 0 1px $btn-toggle-active-color;
  }

  &.active:after {
    top: 0;
    left: 1.3125rem*12/50;
    box-shadow: inset 0 0 0 1px $btn-toggle-active-color, 0 1px 2px rgba(0, 0, 0, 0.2)
  }
}
