@import "variables";
@import "mixins";
.bar-header {
  position: relative;
  height: 45px;
  line-height: 45px;
  color: white;
  background-color: $fix-bar-header-bg;
  font-size: 19.2px;
  .bar-title {
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 99;
  }
  .bar-back {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url('./../../../scripts/components/header/back.svg') center no-repeat;
    // position: absolute;
    // padding: 0 .5rem*12/50;
    // font-size: 24px;
    // line-height: 45px;
    z-index: 100;
  }
}

.bar-header-placeholder {
  height: 45px;
}

.bar-footer {
  @include border(top, $list-group-border-color);
  height: $fix-bar-footer-height;
  background-color: $fix-bar-footer-bg;
  font-size: 1.2rem*12/50;
}

.bar-footer-placeholder {
  height: $fix-bar-footer-height;
}