@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?xss7yg');
  src: url('../fonts/icomoon.eot?xss7yg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xss7yg') format('truetype'),
    url('../fonts/icomoon.woff?xss7yg') format('woff'),
    url('../fonts/icomoon.svg?xss7yg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon,
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-box:before {
  content: "\e900";
}

.icon-account-circle:before {
  content: "\e901";
}

.icon-add:before {
  content: "\e902";
}

.icon-add-box:before {
  content: "\e903";
}

.icon-add-circle:before {
  content: "\e904";
}

.icon-add-circle-outline:before {
  content: "\e905";
}

.icon-airplane:before {
  content: "\e906";
}

.icon-arrow-back:before {
  content: "\e907";
}

.icon-arrow-down:before {
  content: "\e908";
}

.icon-arrow-dropdown:before {
  content: "\e909";
}

.icon-arrow-dropup:before {
  content: "\e90a";
}

.icon-arrow-forward:before {
  content: "\e90b";
}

.icon-arrow-left:before {
  content: "\e90c";
}

.icon-arrow-right:before {
  content: "\e90d";
}

.icon-arrow-up:before {
  content: "\e90e";
}

.icon-asterisk:before {
  content: "\e90f";
}

.icon-backspace:before {
  content: "\e910";
}

.icon-calendar:before {
  content: "\e911";
}

.icon-call:before {
  content: "\e912";
}

.icon-cancel-circle:before {
  content: "\e913";
}

.icon-cancel-circle-outline:before {
  content: "\e914";
}

.icon-check:before {
  content: "\e915";
}

.icon-checkbox-box:before {
  content: "\e916";
}

.icon-checkbox-box-outline:before {
  content: "\e917";
}

.icon-checkbox-circle:before {
  content: "\e918";
}

.icon-checkbox-circle-outline:before {
  content: "\e919";
}

.icon-circle:before {
  content: "\e91a";
}

.icon-close:before {
  content: "\e91b";
}

.icon-coupon:before {
  content: "\e91c";
}

.icon-edit:before {
  content: "\e91d";
}

.icon-error:before {
  content: "\e91e";
}

.icon-error-outline:before {
  content: "\e91f";
}

.icon-flight-land:before {
  content: "\e920";
}

.icon-flight-takeoff:before {
  content: "\e921";
}

.icon-food:before {
  content: "\e922";
}

.icon-group:before {
  content: "\e923";
}

.icon-group-add:before {
  content: "\e924";
}

.icon-group-outline:before {
  content: "\e925";
}

.icon-help:before {
  content: "\e926";
}

.icon-help-outline:before {
  content: "\e927";
}

.icon-info:before {
  content: "\e928";
}

.icon-info-outline:before {
  content: "\e929";
}

.icon-location:before {
  content: "\e92a";
}

.icon-loop:before {
  content: "\e92b";
}

.icon-mail:before {
  content: "\e92c";
}

.icon-payment:before {
  content: "\e92d";
}

.icon-person:before {
  content: "\e92e";
}

.icon-person-add:before {
  content: "\e92f";
}

.icon-person-outline:before {
  content: "\e930";
}

.icon-phone:before {
  content: "\e931";
}

.icon-phone-android:before {
  content: "\e932";
}

.icon-phone-iphone:before {
  content: "\e933";
}

.icon-radio-button:before {
  content: "\e934";
}

.icon-radio-button-outline:before {
  content: "\e935";
}

.icon-refresh:before {
  content: "\e936";
}

.icon-refresh2:before {
  content: "\e937";
}

.icon-remove:before {
  content: "\e938";
}

.icon-remove-circle:before {
  content: "\e939";
}

.icon-remove-circle-outline:before {
  content: "\e93a";
}

.icon-search:before {
  content: "\e93b";
}

.icon-spinner:before {
  content: "\e93c";
}

.icon-spinner-curve:before {
  content: "\e93d";
}

.icon-spinner-sun:before {
  content: "\e93e";
}

.icon-star:before {
  content: "\e93f";
}

.icon-star-half:before {
  content: "\e940";
}

.icon-star-outline:before {
  content: "\e941";
}

.icon-sync:before {
  content: "\e942";
}

.icon-time:before {
  content: "\e943";
}

.icon-time-alarm:before {
  content: "\e944";
}

.icon-timer:before {
  content: "\e945";
}
