@import "variables";
@import "mixins";

input, select {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  line-height: inherit;
  background-color: $white;
}

select {
  -webkit-appearance: none;
  background-color: $white;
}

// for transparent select wrapper
.select-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

// for checkbox icon style
.select-icon:after {
  position: relative;
  float: right;
  width: 0;
  height: 0;
  color: $blue;
  margin-top: -1rem;
  content: "";
  border-top: .4rem solid;
  border-right: .4rem solid transparent;
  border-left: .4rem solid transparent;
  z-index: 10;
}

// input width line height and border
.input-primary {
  height: 2.8125rem;
  text-indent: 1rem;
  font-size: 1rem;
  -webkit-appearance: none;  // fix ios input box-shadow bug
  box-shadow: 0 0 1px 0 $gray-lighter;
}

// input with border
.input-border {
  -webkit-appearance: none;  // fix ios input box-shadow bug
  box-shadow: 0 0 1px 0 $gray-lighter;
}

// input with a search icon
// example:
// <div class="input-search">
//   <input>
// </div>
.input-search {
  @include border(top-bottom, $list-group-border-color);
  position: relative;
  padding: .4rem .75rem;
  background-color: #F5F9FA;

  input {
    box-sizing: border-box;
    box-shadow: 0 0 1px 0 $gray;
    border-radius: 1rem;
    width: 100%;
    height: 2rem;
    font-size: .9rem;
    padding-left: 2rem;
    overflow: hidden;
  }

  &:after {
    position: absolute;
    top: .8rem;
    left: 1rem;
    font-family: 'icomoon';
    content: "\e838";
    font-size: 1.4rem;
    color: #2190e7;
  }
}


// input in group-list-item
.input-label {
  position: absolute;
  width: 6rem;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input-wrap {
  position: relative;
  padding-left: 6rem;
}