@import "variables";
@import "mixins";
// Display & Hide
.show {
  display: block;
}

.hide {
  display: none;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

// Float
@import "./utils/float";
// Position
@import "./utils/position";
// Margin
@import "./utils/margin";
// Padding
@import "./utils/padding";
// Fix
.fix-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

// Separator
.separator {
  min-height: 1.2rem;
  background-color: $gray-lightest;
  color: $gray-lighter;
}

.separator-blank {
  height: 1.2rem;
}

// Mask
@import "./utils/mask";