// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
  $active-background: darken($background, 10%);
  $active-border: darken($border, 12%);

  color: $color;
  background-color: $background;
  border-color: $border;

  &.active {
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
    background-image: none;
  }

  // &.disabled {
  //   background-color: $background;
  //   border-color: $border;
  // }
}

@mixin button-outline-variant($color) {
  color: $color;
  background-image: none;
  background-color: transparent;
  border-color: $color;

  &.active {
    color: #fff;
    background-color: $color;
    border-color: $color;
  }

  // &.disabled {
  //   border-color: lighten($color, 20%);
  // }
}

@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}