@import "variables";
@import "mixins";

.collapse-header:after {
  display: inline-block;
  float: right;
  width: 0;
  height: 0;
  margin-top: .3rem;
  color: $blue;
  vertical-align: middle;
  content: "";
  border-top: .4rem solid;
  border-right: .4rem solid transparent;
  border-left: .4rem solid transparent;
  border-bottom: none;
}

.active > .collapse-header:after {
  border-top: none;
  border-right: .4rem solid transparent;
  border-left: .4rem solid transparent;
  border-bottom: .4rem solid;
}

.collapse-body {
  word-break: break-all;
  white-space: normal;
  color: $gray;
  font-size: .75rem;
  line-height: 1rem;
  margin-top: .6rem;
  margin-bottom: .6rem;
}
