@import "variables";
@import "mixins";

.mask {
  &.active {
    .loading {
      opacity: 1;
      background-color: #fff;
    }
  }
}

.loading {
  position: fixed;
  width: 70%;
  top: 35%;
  left: 50%;
  padding: 1rem 0;
  margin-left: -35%;
  text-align: center;
  border-radius: 0.3rem;
  z-index: 999;

  .loading-icon {
    display: inline-block;
    font-size: 2rem;
    .spinner {
      width: 2rem;
      height: 2rem;
      animation: spin 5s linear infinite;
    }
  }

  .loading-content {
    color: $gray-light;
    margin: 0 1rem;
    padding-top: 1rem;
    word-wrap: break-word;
  }
}
