@import "variables";
@import "mixins";

.module {
  @include border(top-bottom, $border-color);
  margin: 0;
  padding: $spacer-y $spacer-x;
  background-color: $white;
}

.module-ticket {
  .ticket-header {
    font-size: .9rem;
    line-height: 1.2;
    margin-bottom: .5rem;
  }

  .ticket-time {
    font-size: 1.4rem;
    line-height: 1.2;
  }

  .ticket-place {
    font-size: .9rem;
    line-height: 1.2;
  }

  .ticket-footer {
    margin-top: .5rem;
    font-size: .9rem;
    line-height: 1.2;
  }

  .ticket-accessory {
    margin-top: 1rem;
    font-size: .8rem;
    line-height: 1.2;
    color: $gray;
  }

  .ticket-duration {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 .4rem;
    border: 1px solid #A1D6EE;
    border-radius: 1rem;
    font-size: .7rem;
    line-height: 1.5;
    color: #49B2E2;

    &:before {
      content: " ";
      position: absolute;
      width: 3rem;
      border-bottom: 1px solid #A1D6EE;
      top: 50%;
      right: 100%;
    }

    &:after {
      content: " ";
      position: absolute;
      width: 3rem;
      border-bottom: 1px solid #A1D6EE;
      top: 50%;
      left: 100%;
    }
  }
}